.box{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cross{
    text-decoration: line-through;
}
.box2{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color:red;
    width: 700px;
    height: 300px;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    margin-top: 40px;
}